@tailwind base;
@tailwind components;
@tailwind utilities;

.animateLeftToRight {
  animation: leftToRight ease-in-out 1s;
}

.animateLeftToRight {
  animation: leftToRight ease-in-out 1s;
}

.animateRightToLeft {
  animation: rightToLeft ease-in-out 1s;
}

.animateBottomToTop {
  animation: topToBottom ease-in-out 1s;
}

.radial-background {
  background-image: radial-gradient(
      27% 37% at 27% 37%,
      #3a8bfd 0,
      transparent 0
    ),
    radial-gradient(97% 21% at 97% 21%, #71d16c 0, transparent 50%),
    radial-gradient(52% 99% at 52% 99%, #fd3a4e 0, transparent 35%),
    radial-gradient(10% 29% at 10% 29%, #855afc 0, transparent 50%),
    radial-gradient(97% 96% at 97% 96%, #e4c795 0, transparent 50%),
    radial-gradient(33% 50% at 33% 50%, #8ca8e8 0, transparent 50%),
    radial-gradient(79% 53% at 79% 53%, #eea5ba 0, transparent 50%);
}

@keyframes leftToRight {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes topToBottom {
  0% {
    transform: translateY(-140px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
